[submodule "sharenergy-backend"]
	path = sharenergy-backend
	url = https://github.com/wellingtonengps/sharenergy-backend.git
[submodule "sharenergy-frontend"]
	path = sharenergy-frontend
	url = https://github.com/wellingtonengps/sharenergy-frontend.git
